<nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark sticky-top navbar-light shadow-sm"
  data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-book fa-shake fa-xl me-2" style="color: #ffffff;"></i> <strong>BOOKSHOP</strong></a>

    <div  *ngIf="!isLoggedIn()">
      <!-- <a href="qMart/login" class="btn btn-success mx-1">Login</a> -->
      <button class="btn btn-success mx-1" (click)="loggedIn()">Login</button>
    </div>
    <div *ngIf="isLoggedIn()">
      <button class="btn" style="background-color: #d35266;color:white;" (click)="logout()">Logout</button>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class=" collapse navbar-collapse" id="navbarNavDropdown">


    <ul class="navbar-nav ms-auto ">
      <li class="nav-item">
        <a class="nav-link mx-2 text-uppercase" href="qMart/addcart"><i class="fa-solid fa-cart-shopping me-1"></i> Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2 text-uppercase" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-circle-user me-1"></i>{{accname}}</a>
      </li>
    </ul>
  </div>
  </div>
</nav>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-white">


          <div class="modal-body text-center">
            <h3 style="color: #d35266;">Account Details</h3>
              <img src="https://i.postimg.cc/x1C569Mv/icon-5359553-960-720.png" alt="" width="150px">
          </div>
          <div class="p-3">
              <h5>Username: <span class="spanText ms-3"> {{accname}} </span></h5>
              <hr class="modalhr">
              <h5>Email : <span class="spanText ms-3"> {{email}} </span></h5>
              <hr class="modalhr">
              <h5>Phone: <span class="spanText ms-3"> {{phone}} </span></h5>
              <hr class="modalhr">
              <div class="text-end">
                  <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #d35266;">Close</button>
              </div>
          </div>
      </div>
  </div>
</div>

