<section class="vh-100" style="background-color:  #f2f2f2;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card bg-dark text-black" style="border-radius: 25px;z-index: 2;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color:#d35266;">Sign up</p>
  
                  <form [formGroup]="registerForm" class="mx-1 mx-md-4">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw" style="color:#d35266;"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="username" type="text" id="form3Example1c" class="form-control bg-secondary border-0 text-white" name="uname" />
                        <label class="form-label" for="form3Example1c" style="color:#d35266;">Your Name</label>

                        <div *ngIf="(this.registerForm.get('username')?.errors) && (this.registerForm.get('username')?.touched)">
                          <p class="text-danger">must contain characters only</p>
                      </div>

                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw" style="color:#d35266;"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="email" type="email" id="form3Example3c" class="form-control bg-secondary border-0"  name="mail"/>
                        <label class="form-label" for="form3Example3c" style="color:#d35266;">Your Email</label>

                        <!-- <div *ngIf="(this.registerForm.get('email')?.errors) && (this.registerForm.get('email')?.touched)">
                          <p class="text-danger">must contain numbers and characters only</p>
                      </div> -->

                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-mobile-retro fa-lg me-3 fa-fw" style="color:#d35266;"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="phone" type="text" id="form3Example4c" class="form-control bg-secondary border-0" name="phoneno"/>
                        <label class="form-label" for="form3Example4c" style="color:#d35266;">Phone Number</label>

                        <div *ngIf="(this.registerForm.get('phone')?.errors) && (this.registerForm.get('phone')?.touched)">
                          <p class="text-danger">number must be 10 digit</p>
                      </div>

                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw" style="color:#d35266;"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="passwd" type="password" id="form3Example4c" class="form-control bg-secondary border-0" name="pass"/>
                        <label class="form-label" for="form3Example4c" style="color:#d35266;">Password</label>

                        <div *ngIf="(this.registerForm.get('passwd')?.errors) && (this.registerForm.get('passwd')?.touched)">
                          <p class="text-danger">must contain numbers and characters only</p>
                      </div>

                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw" style="color:#d35266;"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="confirmPass" type="password" id="form3Example4cd" class="form-control bg-secondary border-0" name="conpass"/>
                        <label class="form-label" for="form3Example4cd" style="color:#d35266;">Repeat your password</label>

                        <div *ngIf="(this.registerForm.get('confirmPass')?.errors) && (this.registerForm.get('confirmPass')?.touched)">
                          <p class="text-danger">must contain numbers and characters only</p>
                      </div>

                      </div>
                    </div>
  
                    
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button (click)="signup()" type="submit" class="btn btn-lg" style="background-color: #d35266;color:white;">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://i.postimg.cc/ZngLHTWJ/book-g00cb90ef1-1280.jpg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
