<section style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            
          </div>
  
          <div class="card rounded-3 mb-4 bg-dark" *ngFor="let i of cartArr">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src={{i.image}}
                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2 text-white">{{i.name}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <h5 class="lead mb-2" style="color: #d35266;font-weight: 800;">${{i.price}}</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <button (click)="removeItem(i.sl)"  href="#!" class="text-danger bg-dark" style="border: none;"><i class="fas fa-trash fa-lg"></i></button>
                </div>
              </div>
            </div>
          </div>
  

          <div class="card bg-dark">
            <div class="card-body">
              <button type="button" class="btn btn-block btn-lg me-3" style="background-color:#d35266;color:white;">Proceed to Pay</button>
              <a href="qMart" class="btn btn-block btn-lg" style="background-color:#d35266;color:white;">Continue shopping</a>

            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>