<!--filter section -->

<section style="background-color: #d35266;" class="py-5">
    <div class="container">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="font-family: 'Source Code Pro', monospace;display: inline;">
                BOOK<i class="fa-solid fa-book fa-bounce fa-5xl mx-4" style="color: #000000;"></i>SHOP</h1>
            <p class="lead fw-normal text-white-50 mb-0">An Online Market For Books</p>


            <!-- Example single danger button -->
            <div class="mt-5">
                <div class="btn-group filter__button me-1">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        All
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Fiction</a></li>
                        <li><a class="dropdown-item" href="#">Non Fiction</a></li>
                        <li><a class="dropdown-item" href="#">Academic</a></li>
                    </ul>
                </div>
                <div class="me-5 search__div">
                    <input id="search__box" type="text" placeholder=" search book" name="searchBox">
                    <button id="search__button" type="button" class="btn btn-dark ms-1"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </div>
    </div>
</section>


<div class="mb-5">
    <div class="featured__div">
        <h4 class="text-center my-3">FEATURED BOOK</h4>
        <div class="main__div">
            <div class="image__div me-4">
                <img src="https://i.postimg.cc/NfQ2gxjF/siddhartha.jpg" alt="" height="250">
            </div>
            <div class="details__div">
                <h5><span style="color: #d35266;font-weight: 800;">Siddhartha: A Novel </span>by Hermann Hesse, Hilda Rosner (Translator)</h5>
                <p>Herman Hesse's classic novel has delighted, inspired, and influenced generations of <br>
                    readers, writers, and thinkers. In this story of a wealthy Indian Brahmin who casts
                     off <br> a life of privilege to seek spiritual fulfillment.</p>

                <h5 class="mb-4"><strong>Rating: 4/5</strong></h5>
                <div class="featured__buttons">
                    <button class="btn m-1" style="background-color: #d35266;color:white;">$5.49</button>
                    <button class="btn m-1" style="background-color: #d35266; color:white;">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>







<!-- Section-->
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let i of productsData">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src={{i.image}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h6 class="fw-bolder">{{i.name}}</h6>
                            <!-- Product price-->
                           
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <p style="color: #d35266;"> <strong> ${{i.price}} </strong> </p>
                            <a class="btn btn-outline-dark mt-auto" routerLink="/qMart/view/{{i.id}}">Details</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>