.filter__button{
    display: inline-block;
}

.search__div{
    display: inline-block;
}

.featured__div{
    min-width: 50%;
}
.main__div{
    display: flex;
    justify-content: center;
}
.image__div{
    display: flex;
    flex-direction: column;
}
.details__div{
    display: flex;
    flex-direction: column;

}