.filter__button{
    display: inline-block;
}

.search__div{
    display: inline-block;
}

#search__box{
    background-color:#212529;
    color:white;
    border: none;
    border-radius: 10px;
    height: 38px;
}

.featured__div{
    min-width: 50%;
}
.main__div{
    display: flex;
    justify-content: center;
}
.image__div{
    display: flex;
    flex-direction: column;
}
.details__div{
    display: flex;
    flex-direction: column;

}