<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center bg-dark text-white" style="border:2px solid #d35266;border-radius: 10px;">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 py-3" src={{item.image}} alt="..." height="700" /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{item.category}}</div>
                <h1 class="display-5 fw-bolder">{{item.name}}</h1>
                <div class="fs-5 mb-5">
                    <span style="font-weight: 800;color:#d35266;font-size: 1.5rem;">${{item.price}}</span>
                </div>
                <p class="lead">{{item.description}}</p>
                <ul>
                    <li>Author: <span style="font-weight: 800;color:#d35266;font-size: 1.5rem;"> {{item.author}}</span></li>
                    <li>Publisher: <span>{{item.publisher}}</span></li>
                    <li>Language: <span>{{item.language}}</span></li>
                    <li>Published: <span>{{item.published}}</span> </li>
                </ul>
                <h5>Rating: <span style="font-weight: 800; color:#d35266">{{item.rating}}</span>/5</h5>
                <div class="d-flex">
                    <button class="btn flex-shrink-0" type="button" style="background-color: #d35266;" (click)="addCart()">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                    <button class="btn flex-shrink-0 ms-3" type="button" style="background-color:cadetblue;" (click)="back()">
                        <i class="bi-cart-fill me-1"></i>
                        go back
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>